.landingContainer {
    background-image: url('../Images/landingBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #C9C9C9;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.nameContainer {
    font-size: 2em;
    font-weight: bold;
    padding-top: 3em;
}

.profesionContainer {
    font-size: 1em;
    padding-bottom: 3em;
}

.learnMoreButton {
    padding-bottom: 3em;
}